.banner {
    position: relative;
    background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 50%), url("../../images/japon.jpeg");  
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 150px 0;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Filtre foncé */
}

.banner .container {
    position: relative;
    z-index: 1; /* Assure que le texte et bouton apparaissent par-dessus le filtre */
}

.banner h1 {
    font-size: 50px;
}

.banner h2 {
    font-size: 30px;
    font-weight: lighter;
    opacity: 0.8;
    margin-bottom: 40px;
}
